.stardew-panel {
  -fx-background-color: rgba(0, 0, 0, 0.6);
  -fx-background-radius: 12px;
  -fx-border-color: #dab676;
  -fx-border-width: 2px;
  -fx-border-radius: 12px;
}

.dialog-text {
  -fx-font-smoothing-type: gray;
  -fx-effect: dropshadow(gaussian, #00000088, 4, 0.3, 0, 1);
}
